:root, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0af;
    font-family: sans-serif;
    font-weight: bold;
}

.layout h1 {
    padding: 20px;
    font-style: italic;
    color: white;
    background: #000;
    position: relative;
    z-index: 200;
}

.main-nav {
    display: flex;
    justify-content: flex-start;
    background: #0cf;
    flex-wrap: wrap;
    padding: 5px;
    position: relative;
    z-index: 200;
}

.products-nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #0bf;
    padding: 5px;
    position: relative;
    top: -160px;
    z-index: 100;
    transition: 0.1s;
}

.main-nav>a:hover,
.main-nav>a:active,
.main-nav>a:link,
.main-nav>a:visited,
.products-nav>a:hover,
.products-nav>a:active,
.products-nav>a:link,
.products-nav>a:visited {
    text-decoration: none;
    color: #000;
    padding: 12px;
    background: #0af;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.shopping-cart-logo {
    width: 30px;
}

/* ------- main -------------------------- */

main {
    position: relative;
    top: -100px;
}

/* ------- products all categories -------------------------- */

.card-container {
    background: #09f;
    margin: 10px;
    padding: 30px;
    border-radius: 20px;
    width: 80vw;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5%;
}

.card-container h3 {
    padding-top: 20px;
}

.card-container p {
    padding-top: 30px;
}

.card-container img {
    height: 15 0px;
    width: 150px;
    border-radius: 20px;
    object-fit: cover;
    margin: 20px;
}

.car-products,
.electronic-products,
.clothe-products,
.house-and-garden-products,
.family-and-friends-products,
.business-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.cars,
.electronics,
.clothes,
.house-and-garden,
.family-and-friends,
.business {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------- home -------------------------- */

.home {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advertisement {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #08f;
    margin: 5%;
    border-radius: 30px;
    margin-top: 20px;
    width: 90%;
}

.advertisement > div {
    width: 100%;
}

.advertisement > * {
    padding: 10px;
}

.advertisement h2 {
    align-self: flex-start;
    padding-left: 20px;
    padding-top: 20px;
    border-bottom: 5px solid #07f;
}

.advertisement h3 {
    padding-left: 50px;
    padding-top: 20px;
}

.advertisement img {
    object-fit: cover;
    height: 150px;
    width: 150px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.advertisement-bottom {
    margin-top: 40px;
    background: #08f;
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    border-radius: 20px;
}

.advertisement-bottom > div > * {
    padding: 5px;
}

.advertisement-bottom img {
    height: 100px;
    width: 100px;
    margin: 20px;
    border-radius: 20px;
    object-fit: cover;
}

/* ------- about -------------------------- */

.about {
    padding: 30px 10%;
}

.about p {
    padding-bottom: 30px;
}

/* ------- contact & login -------------------------- */

.contact, .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.contact h2, .login h2, .about h2, .shopping-cart h2, h2 {
    padding: 10px 40px;
    margin: 30px;
    border-bottom: 5px solid #09f;
}

.contact form, .login form {
    text-align: center;
}

.contact div, .login div {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.contact input, .contact textarea, .contact button, .login input, .login button {
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 80vw;
    max-width: 500px;
}

.contact textarea {
    height: 100px;
}

.contact button, .login button {
    background: #08f;
    color: #fff;
    font-weight: bold;
}

/* ------- about -------------------------- */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h2 {
    margin-bottom: 80px;
}

.about p {
    font-size: 1rem;
}

/* ------- shopping cart -------------------------- */

.shopping-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopping-item {
    display: flex;
    align-items: center;
    gap: 10%;
    margin: 20px;
    background: #09f;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    border-radius: 20px;
}

.shopping-item div > * {
    margin-bottom: 10px;
}

.shopping-item img {
    width: 200px;
    border-radius: 20px;
}

.buy-button {
    padding: 20px 40px;
    background: #fff;
    border-radius: 20px;
    margin-top: 50px;
}

/* ------- cars -------------------------- */

/* ------- electronics -------------------------- */

/* ------- clothes -------------------------- */

/* ------- house and garden -------------------------- */

/* ------- family and friends -------------------------- */

/* ------- business -------------------------- */

/* ------- footer -------------------------- */

footer {
    background: #222;
    padding: 20px;
}

footer section {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

footer section > * {
    padding: 5px;
}

footer h6 {
    color: #444;
    font-size: 1rem;
}

footer a:hover,
footer a:link,
footer a:active,
footer a:visited {
    color: #444;
    text-decoration: none;
    font-size: 0.8rem;
}

/* ------- footer -------------------------- */

@media screen and (min-width: 600px) {
    .layout h1 {
        padding: 20px;
    }

    .main-nav {
        justify-content: flex-start;
        padding: 20px;
    }

    .products-nav {
        padding: 20px;
        justify-content: flex-start;
    }

    .home {
        margin-top: 50px;
    }
}

@media screen and (min-width: 700px) {
    .advertisement img {
        height: 200px;
        width: 200px;
    }

    .card-container {
        gap: 15%;
    }

    .shopping-cart {
        margin-top: 40px;
    }
}

@media screen and (min-width: 800px) {
    /* main {
        top: -30px;
    } */

    .advertisement {
        padding: 20px;
        font-size: 1.5rem;
    }

    .card-container img {
        width: 200px;
    }
}

@media screen and (min-width: 1100px) {
    .layout h1 {
        padding: 40px;
    }
    
    .main-nav>a:hover,
    .main-nav>a:active,
    .main-nav>a:link,
    .main-nav>a:visited,
    .products-nav>a:hover,
    .products-nav>a:active,
    .products-nav>a:link,
    .products-nav>a:visited {
        padding: 10px 20px;
        margin: 0 5px;
        font-size: 1.1rem;
    }

    .card-container img {
        width: 300px;
    }

    .advertisement {
        padding: 70px 100px;
    }

    .advertisement img {
        margin-right: 200px;
        height: 300px;
        width: 300px;
    }

    .advertisement-bottom {
        justify-content: center;
        gap: 20%;
        padding: 40px;
    }

    .advertisement-bottom img {
        height: 150px;
        width: 150px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        padding: 100px;
    }
}
