:root, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0af;
    font-family: sans-serif;
    font-weight: bold;
}

.layout h1 {
    padding: 20px;
    font-style: italic;
    color: white;
    background: #000;
    position: relative;
    z-index: 200;
}

.main-nav {
    display: flex;
    justify-content: space-around;
    background: #0cf;
    flex-wrap: wrap;
    padding: 5px;
    position: relative;
    z-index: 200;
}

.products-nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #0bf;
    padding: 5px;
    position: relative;
    top: -160px;
    z-index: 100;
    transition: 0.1s;
}

.main-nav>a:hover,
.main-nav>a:active,
.main-nav>a:link,
.main-nav>a:visited,
.products-nav>a:hover,
.products-nav>a:active,
.products-nav>a:link,
.products-nav>a:visited {
    text-decoration: none;
    color: #000;
    padding: 12px;
    background: #0af;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.shopping-cart-logo {
    width: 30px;
}

/* ------- main -------------------------- */

main {
    position: relative;
    top: -100px;
}

/* ------- home -------------------------- */

.home {
    overflow-x: hidden;
}

.advertisement {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #08f;
    margin: 10px;
    border-radius: 30px;
    margin-top: 20px;
}

.advertisement > div {
    width: 100%;
}

.advertisement > * {
    padding: 10px;
}

.advertisement h2 {
    align-self: flex-start;
    padding-left: 20px;
    padding-top: 20px;
}

.advertisement h3 {
    padding-left: 50px;
    padding-top: 20px;
}

.advertisement img {
    object-fit: cover;
    height: 150px;
    width: 150px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.advertisement-2 {
    width: 1000px;
    position: relative;
    animation: advert2 10s infinite alternate;
    flex-wrap: wrap;
    margin-top: 40px;
    height: 200px;
    display: flex;
    align-items: center;
}

@keyframes advert2 {
    from {
        left: -200px;
    }
    to {
        left: 0;
    }
}

.advertisement-2 > div {
    border-radius: 30px;
    height: 100%;
    width: 100%;
    background: #08f;
    z-index: -10;
    position: absolute;
    opacity: 0.5;
}

.advertisement-2 img {
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 30px;
    object-fit: cover;
}

.advertisement-bottom {
    margin-top: 40px;
    background: #08f;
    display: flex;
    align-items: center;
}

.advertisement-bottom > div > * {
    padding: 5px;
}

.advertisement-bottom img {
    height: 100px;
    width: 100px;
    margin: 20px;
    border-radius: 20px;
    object-fit: cover;
}

/* ------- cars -------------------------- */

.car-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.cars img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
    margin: 20px;
}

/* ------- electronics -------------------------- */

.electronic-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.electronics img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
    margin: 20px;
}

/* ------- clothes -------------------------- */

.clothe-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.clothes img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
    margin: 20px;
}

/* ------- house and garden -------------------------- */

.house-and-garden-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.house-and-garden img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
    margin: 20px;
}

/* ------- family and friends -------------------------- */

.family-and-friends-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.family-and-friends img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
    margin: 20px;
}

/* ------- business -------------------------- */

.business-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.business img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
    margin: 20px;
}

/* ------- footer -------------------------- */

footer {
    background: #222;
    padding: 20px;
}

footer section {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

footer section > * {
    padding: 5px;
}

footer h6 {
    color: #444;
    font-size: 1rem;
}

footer a:hover,
footer a:link,
footer a:active,
footer a:visited {
    color: #444;
    text-decoration: none;
    font-size: 0.8rem;
}

/* ------- footer -------------------------- */

@media screen and (min-width: 600px) {
    .layout h1 {
        padding: 20px;
    }

    .main-nav {
        justify-content: flex-start;
        padding: 20px;
    }

    .products-nav {
        padding: 20px;
        justify-content: flex-start;
    }

    main {
        top: 50;
    }

    .advertisement-2 {
        justify-content: center;
    }
}

@media screen and (min-width: 800px) {
    main {
        /* position: relative; */
        top: -30px;
    }
}
